{% extends 'AnticomKennzeichenBundle::layout.html.twig' %}

{% block content %}
    <ol class="breadcrumb">
        <li><a href="{{ path('anticom_kennzeichen_bundesland_list') }}">Bundesland</a></li>
        <li><a href="{{ path('anticom_kennzeichen_bundesland_show', {'name' : bundesland.name}) }}">Details</a></li>
        <li class="active">Löschen</li>
    </ol>

    <div>
        <h2>Sind Sie sicher, dass Sie folgenden Eintrag löschen möchten</h2>

        <div class="panel panel-default">
            <div class="panel-body">
                <ul class="list-unstyled">
                    <li># {{ bundesland.id }}</li>
                    <li>{{ bundesland.name }}</li>
                </ul>
            </div>
        </div>

        {{ form_start(form) }}
            {{ form_widget(form.submit) }}
            <a class="btn btn-default" href="{{ path('anticom_kennzeichen_bundesland_list') }}">Abbrechen</a>
        {{ form_end(form) }}
    </div>
{% endblock %}