{% macro entryDate(dateTimeObject) %}{{ dateTimeObject|date('D, d.m.Y H:i')|replace({'Mon':'Montag','Tue':'Dienstag','Wed':'Mittwoch','Thu':'Donnerstag','Fri':'Freitag','Sat':'Samstag','Sun':'Sonntag'}) }}{% endmacro %}

{% macro alert(message, type) %}
    {% if message %}
        <div class="alert alert-{{ type|default('info') }}">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ message }}
        </div>
    {% endif %}
{% endmacro %}

{% macro alertAggregate(messages, type) %}
    {% if messages and messages|length %}
        <div class="alert alert-{{ type|default('info') }}">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}
{% endmacro %}

{% macro alertError(error, type) %}
    {% if error %}
        <div class="alert alert-{{ type|default('danger') }}">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ error.message }}
        </div>
    {% endif %}
{% endmacro %}

{% macro alertErrorAggregate(errors, type) %}
    {% if errors and errors|length %}
        <div class="alert alert-{{ type|default('danger') }}">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {% for error in errors %}
                {{ error.message }}
            {% endfor %}
        </div>
    {% endif %}
{% endmacro %}